button {
  padding: 6px 16px;
  font-size: 0.875rem;
  border-radius: 4px;
  line-height: 1.75;
  cursor: pointer;
}
button.GyButton.contained:disabled {
  color: rgb(20 20 20 / 30%);
  box-shadow: none;
  border: 0px;
  background-color: rgb(88 88 88 / 12%);
  cursor: not-allowed;
}
button.GyButton.contained:disabled:hover {
  color: rgb(20 20 20 / 30%);
  box-shadow: none;
  border: 0px;
  background-color: rgb(88 88 88 / 12%);
  cursor: not-allowed;
}
button.GyButton.contained {
  background-color: #029cfd;
  color: #ffffff;
  border: 0px;
}

button.GyButton.contained:hover {
  background-color: #42a5f5;
}
button.GyButton.outlined {
  border: 1px solid #029cfd;
  background-color: transparent;
  color: #029cfd;
}
button.GyButton.outlined:hover {
  background-color: rgba(144, 202, 249, 0.08);
  border: 1px solid #90caf9;
}
button.GyButton.contained.disabled {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  cursor: not-allowed;
}
button.GyButton.text {
  border: 0;
  color: #029cfd;
  background-color: transparent;
}
button.GyButton.text:hover {
  border: 0;
  color: #029cfd;
  background-color: rgba(144, 202, 249, 0.08);
}

button.GyButton.large {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
button.GyButton.medium {
  padding: 5px 15px;
  font-size: 0.875rem;
}
button.GyButton.small {
  padding: 3px 9px;
  font-size: 0.8125rem;
}
